@import 'style/_fonts.scss';

.App {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  &__Card {
    max-width: 350px;

    &__Title {
      margin-bottom: 32px;

      & > * {
        margin: 0;
      }

      h1 {
        font-size: $fs-title;
      }
    }
  }
}
